<!DOCTYPE html>
{%load static %}
<html lang="en">
<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'todo.css'%}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">

    </script>

    <title>Home Page</title>
</head>
<body>
<div class="jumbotron">
  <h1 class="display-5">NEWS PORTAL </h1>
  <p class="lead">Here this latest news </p>
  <hr class="my-4">
  <p>It will be the great to share real News</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/movies" role="button">Movies</a>
      <a class="btn btn-primary btn-lg" href="/politics" role="button">Politics</a>
      <a class="btn btn-primary btn-lg" href="/sports" role="button">Sports</a>
      <a class="btn btn-primary btn-lg" href="/business"  role="button">Business</a>
  </p>
</div>
</body>
</html>